.topbarContainer{
    height:50px;
    width:100%;
    background-color: #1877f2;
    display: flex;
    align-items: center;
    top:0;
    position: sticky;
    z-index: 999;
}

.logo{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.topbarLeft{
    flex:3;
}

.topbarCenter{
    flex:5;
}

.searchBar{
    border-style: none;
    background-color: white;
    width:100%;
    height: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon{
    padding-left: 10px;
}

.searchBar > input{
    border-style: none;
    padding-left: 10px;
    border-radius: 30px;
    width: 70%;
}

.searchBar > input:focus{
    outline: none;
}
.topbarRight{
    flex:4;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.topbarIcons{
    display: flex;
    align-items: center;   
}

.topbarLink{
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}

.topbarIconItem{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.topbarIconBadge{
    position: absolute;
    background-color: red;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    color: white;
    top:-5px;
    right:-5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbarImg{
    width: 32px;
    height: 37px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

